{{#each noteList}}
<div class="row">
    {{!-- {{#if_even @index}}
        <div class="col s12 m12 my_team_list">
    {{else}}
        <div class="col s12 m12 my_team_list_one"></div>
    {{/if_even}}         --}}
    <div class="col s12 m12 my_team_list">
    {{#if_even @index}}        
        <div class="card-panel grey lighten-5 z-depth-1">
    {{else}}
        <div class="card-panel lighten-5 z-depth-1" style="background-color:#fff !important">
    {{/if_even}}        
        <div class="row valign-wrapper">
        <div class="col s1 my_team_image">
            <img src="/images/avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s11">
            <div class="my_team_name">{{../user.firstname}}<span>{{date}}</span></div>
            <span class="black-text">
                {{this.notes}}
            </span>
        </div>
        </div>
    </div>
    </div> 
</div>
{{/each}}