
                                <div id="profile-card" class="card" data-tsk-id="{{taskDetail._id}}">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/user-bg.jpg" alt="user background">
                                        <div class="a_task" >{{taskDetail.task_name}}</div>
                                        <div class="add_project_task chs-tsk-dls-prj-nm">
                                            <div class="my_team_add_project" data-tp-dflt="">
                                                
                                            </div>
                                            <a href="javascript:void(0)" class="chs-tsk-dls-prj-nm-anchor" data-task-id="{{taskDetail._id}}">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add to folder/project
                                            </a>
                                            <div id="projectListShown"></div>
                                        </div>
                                        <div class="add_attach_task">
                                        	<ul>
                                            	<li><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach files</a></li>
                                                <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Shared with 1 group and 1 person</a></li>
                                        	</ul>
                                        </div>
                                    </div>
                                    <div class="row">
										<div class="col s2 m2">
                                            <p>
                                            <form action="">
                                               <div class="my_team_active_task"><input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /></div>
                                                <div class="my_team_active_task_select">
                                              	<select>
                                                  <option value = "0" selected>Active</option>
                                                  <option value = "1">Working</option>
                                                  <option value = "2">Complete</option>
                                                  <option value = "3">Cancelled</option>
                                               </select> 
                                            	</div>
                                              </form>
                                            </p>
                                        	
                                        </div>
                                        <div class="col s9 m9">
                                            <ul class="my_team_add_team">
                                                {{> dashboard/assign_user_list}}                                                                                            
                                            </ul>                                            
                                            <div class="my_team_plus"><a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                                            <div id="users"></div>
                                        
                                        </div>
                                        
                                        
									</div>
                                    
                                    
                                    
                                    
                                    <div class="row my_team_date" >
                                    	<div class="col s4 m4">
                                          <input type="text" name="datefilter" data-date-id="date_id" value="{{taskDetail.fromDate}} -{{taskDetail.toDate}}" />    
                                          
                                      </div> 
                                        
                                        <div class="col s3 m3 active_dropdown">
                                         <div class="row">
                                            	<div class="col s6 m6 start_date">Status</div>
                                                <div class="col s6 m6 start_date_box" >
                                               <select>
                                                  <option value = "0" selected>Green</option>
                                                  <option value = "1">Red</option>
                                                  <option value = "2">Yellow</option>
                                                  <option value = "3">Completed</option>
                                                  <option value = "4">On hold</option>
                                                  <option value = "5">Cancelled</option>
                                               </select> 
                                               </div>  
                                        </div> 
                                    </div>
                                    <div class="col s1 m1"></div>
                                    
                                    
                                    
                                    </div>
									<!-- Text Editor Start Here -->
									<div class="row">
										<div class="nopadding">
											{{!-- <textarea id="txtEditor"></textarea>  --}}
                                            <textarea name="description" class="form-control ckeditor" id="description"></textarea>
										</div>
									</div>
									<!-- Text Editor End Here -->
                                    
                      <!-- Text Editor Start Here -->
                      <div class="team-ntt-shw-hre">
                        {{#unless notes}}
                          {{> dashboard/notes}}
                        {{/unless}}  
                      </div>
                               
                                <div class="clear">&nbsp;</div>
                                
                               <!-- send text area Satrt Here-->
                                <div class="row">
                                	<div class="col s12 m12 my_team_send_box">
										 <form action="">
                                         	  <div class="my_team_attach"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                                              <textarea class="form-control textarea-control team-sv-ntt" rows="3" placeholder="Textarea with emoji image input" data-emojiable="true"></textarea>
                                              <button type="submit" form="form1" value="Submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                         </form> 
                                    
									</div>
								</div>
                                </div>
                           

<script>
  $(document).ready(function() {
    /*$("#txtEditor").Editor();    
    if($("div.Editor-container").size() > 1)
    $("div.Editor-container:first").remove()*/

    /*try {
        CKEDITOR.instances['description'].destroy(true);
    } catch (e) { }
    CKEDITOR.replace('description');

    //#### SELECT NON ASSIGN USER FOR TASK
    CKEDITOR.instances['description'].on( 'change', function(e){

        var value = encodeURIComponent(CKEDITOR.instances['description'].getData());
        setTimeout(() => { (new CommonFunctionClass()).requestUpdateDescriptionByTaskId(value) }, 800)

    });*/
    
  });
</script> 

<script type="text/javascript">
  $(function() {

    $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      const dateValue = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY')
      $(this).val(dateValue);

      //#### UPDATE DATE TO TASK < IF NEED
      (new CommonFunctionClass()).requestToUpdateDate(dateValue)
    });

    $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

  });
  </script>