{{!-- {{#each tasks}}
    <li class="myteam-task-row" data-task-id="{{_id}}" data-pid="{{project_id}}" >
        <span class="col s1 m1 collapsible-header"><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;</span>
        <div class="col s11 m11">
            <div class="lighten-5 ">
                <div class="row valign-wrapper">
                    <div class="col s1 my_team_image">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s9">
                          <span class="black-text">
                            {{ task_name }}
                          </span>
                        <ul class="m_user_name">
                            Assigned Users List
                        </ul>
                    </div>

                    <div class="col s2">
                        <a href="javascript:void(0)" class="datepicker"><span class="new"> <i class="fa fa-calendar" aria-hidden="true"></i> {{date}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
{{/each}} --}}

{{#each tasks}}
    <li class="myteam-task-row" data-task-id="{{_id}}" data-pid="{{project_id}}">
        {{!-- <span>{{getAssignUserToTask _id}}</span> --}}
    <span class="col s1 m1 collapsible-header"><i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;</span> 
        <div class="col s11 m11">
        <div class="lighten-5 ">
            <div class="row valign-wrapper">
            
            <div class="col s1 my_team_image">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s9">
                <span class="black-text">
                    {{ task_name }}
                </span>
                <ul class="m_user_name asgn_lst_{{_id}}">
                    {{> dashboard/task_user_list}}              
                </ul>
            </div>
            
            <div class="col s2">
                <a href="#" class="datepicker"><span class="new"> <i class="fa fa-calendar" aria-hidden="true"></i> {{date}}</span></a>
            </div>
            
            </div>
        </div>
        </div>            
    
    <div class="collapsible-body">
    <!-- collapsible_box start here -->
    <div class="collapsible_box">
        <div class="col s12 m12">
        <div class="lighten-5 ">
            <div class="row valign-wrapper">
            <div class="col s1 my_team_image">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <span class="black-text">
                Franchise2Sell.com.au Dev
                </span>
                <ul class="m_user_name">
                <li><a href="#" class = "tooltipped" data-position = "top" data-delay = "50" data-tooltip = "User5">User5</a></li>
                
                </ul>
            </div>
            
            <div class="col s2">
                <a href="#" class="datepicker"><span class="new"> <i class="fa fa-calendar" aria-hidden="true"></i> Oct 31 2017</span></a>
            </div>
            
            </div>
        </div>
        </div>            
    </div>
    <!-- collapsible_box end here -->
    
        <!-- collapsible_box start here -->
    <div class="collapsible_box">
        <div class="col s12 m12">
        <div class="lighten-5 ">
            <div class="row valign-wrapper">
            <div class="col s1 my_team_image">
                <img src="images/yuna.jpg" alt="" class="circle responsive-img">
            </div>
            
            <div class="col s10">
                <span class="black-text">
                Franchise2Sell.com.au Dev
                </span>
                <ul class="m_user_name">
                <li><a href="#" class = "tooltipped" data-position = "top" data-delay = "50" data-tooltip = "User2">User2</a></li>
                </ul>
            </div>
            
            <div class="col s2">
                <a href="#" class="datepicker"><span class="new"> <i class="fa fa-calendar" aria-hidden="true"></i> Oct 31 2017</span></a>
            </div>
            
            </div>
        </div>
        </div>            
    </div>
    <!-- collapsible_box end here -->
    
    </div>
    </li>
{{/each}}
